* {
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  font-family: var(--font-roboto);
  height: 100vh;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}