:root {
  --color-grey: #F2EFE7;
  --color-aqua: #9ACBD0;
  --color-teal: #48A6A7;
  --color-green: #006A71;
  --bg-color: var(--color-grey);
  --bg-color-header: var(--color-green);
  --bg-color-footer: var(--color-green);
  --bg-color-sidebar: var(--color-green);
  --bg-color-buttons: var(--color-teal);
  --text-color: #fff;
  --border-color-form-controls: var(--color-teal);
  --outline-color-form-controls: var(--color-green);
  --border-radius: 10px;
  --max-width: 1200px;
}